.sidebar {
  flex: 1;
  background-color: white;
  margin-right: 20px;
  border-radius: 10px;
  height: 100%;
}

.sidebarImg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.sidebarWrapper {
  padding: 10px;
}
.sidebarImgContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0px;
  margin-left: 10px;
}
.sidebarText {
  font-weight: bold;
}
.sidebarLinks {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  /* gap: 25px; */
  justify-content: space-between;
  height: 350px;
}
.sidebarLink {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 13px;
  cursor: pointer;
  color: gray;
}
.sidebarLink:hover,
.sidebarLink:active {
  color: rgb(156, 5, 5);
  background-color: rgba(235, 156, 156, 0.322);
  border-radius: 10px;
}
.sidebarHelp {
  border: 1px solid rgba(161, 161, 161, 0.582);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  padding: 5px;
}
.sidebar-help-icon {
  color: rgb(224, 210, 210);
}
.sidebarHelpHeading {
  font-size: 14px;
  font-weight: bold;
}
.sidebarHelpText {
  margin: 2px 0px;
}
.sidebarButton {
  background-color: black;
  color: white;
  width: 70%;
  align-self: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 0px;
}
